[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
cookiecutter = "*"
tox = "*"

[packages]
junos-eznc = "*"
jsnapy = "*"
napalm = "*"
pexpect = "*"
pytest = "*"
pytest-csv = "*"
pytest-html = "*"
pytest-shutil = "*"
pytest-atomic = "*"
pytest-xdist = "*"
pytest-bdd = "*"
pytest-pycodestyle = "*"
pytest-flakes = "*"
pytest-variables = {extras = ["yaml"],version = "*"}
pytest-ansible = "*"
ansible = "*"
ixnetwork-restpy = "*"
stcrestclient = "*"
sshtunnel = "*"
pytest-json-report = "*"
napalm-ansible = "*"
jxmlease = "*"
pytest-ansible-playbook-runner = "*"
pytest-cov = "*"
pytest-excel = "*"

[requires]
# To see the current tested version of Python, see the Dockerfile.
# Don't check for it in case host does not have it (hopefully it has a newer/better version?).
#python_version = "3.7"
