[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
cookiecutter = "*"
tox = "*"

[packages]
junos-eznc = "*"
jsnapy = "*"
napalm = "*"
pexpect = "*"
pytest = "*"
pytest-csv = "*"
pytest-html = "*"
pytest-yaml = "*"
pytest-json = "*"
pytest-colordots = "*"
pytest-pep8 = "*"
pytest-variables = {extras = ["yaml"],version = "*"}
pytest-profiling = "*"
pytest-progress = "*"
pytest-shutil = "*"
pytest-ansible = "*"
pytest-atomic = "*"
pytest-xdist = "*"
ixnetwork = "*"
ansible = "==2.7.10"
pytest-bdd = "*"
pytest-cov = "*"
pytest-flakes = "*"

[requires]
# Python 3.6 is required (and installed in the container)
# but don't check for it in case host does not have it.
# Use at your own risk!
#python_version = "3.6"
